* {
	text-align: center;
	vertical-align: middle;
}

th, td {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.lili{
	background-color: black;
}

#userId{
	width: 100%;
	background-color: black;
}

#userDiv {
	margin: 0 auto;
	text-align: center;
	background-color: black;
	color:white;
}

body {
	padding-bottom: 70px;
}

hr {
	size: 5px;
}

table{
	background-color: white;
}

.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.tableDiv, .btnDiv {
	margin: 0 auto;
	width: 70%;
}

.idPwSpan{
	width: 90%;	
}

.centerDiv {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#innerDiv {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	background-color: black;
}

#sendLogin {
	width: 100%;
}

#backDiv {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

#id, #pw {
	width: 100%;
}

#tableDiv {
	margin: 0 auto;
	width: 70%;
}
#thTd{
	font-size: 16px;
	font-weight: bold;
	background-color: #000069;
	color: white;
}