<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="app">
	<typeAlias alias="edit" type="sist.bean.EditBean" />
	
	<update id="updateEdit" parameterClass="edit">
	  UPDATE EDITAPP SET WRITER=#writer#,
	  TITLE=#title#,CONTENTS=#contents#,
	  FILENAME=#fileName#
	  WHERE NO=#no#
	</update>
	
	<select id="idCheck" resultClass="java.lang.String"
		parameterClass="java.lang.String">
		SELECT PW FROM MEMBERSI WHERE ID=#VALUEGFAFDAS#
	</select>
	
	<statement id="getUserName" parameterClass="java.lang.String"
		resultClass="java.lang.String">
		SELECT NAME FROM MEMBERSI WHERE ID=#VALUE#
	</statement>
	
	<statement id="deleteEdit" parameterClass="Integer">
		DELETE FROM EDITAPP WHERE NO=#VALUE#
	</statement>
	
	<statement id="getPass" resultClass="java.lang.String"
		parameterClass="java.lang.Integer">
		SELECT PASSWORD FROM EDITAPP
		WHERE NO=#VALUE#
	</statement>
	
	<statement id="getNumber" resultClass="java.lang.Integer">
	   SELECT APP_SEQ.NEXTVAL FROM DUAL
	</statement>
	
	<insert id="insertEdit" parameterClass="edit">		
		INSERT INTO EDITAPP VALUES(#no#,#id#,#title#,
		#writer#,#password#,#contents#,#fileName#,0,
		#ref#,#lev#,#step#,#pnum#,0,sysdate)
	</insert>
	
	<select id="getTotalRow" resultClass="java.lang.Integer" parameterClass="java.util.HashMap">	
	  SELECT COUNT(*)  FROM EDITAPP
	  <dynamic prepend="where">
	    <isNotNull property="Q">
	      $Q$ LIKE '%'||#D#||'%'
	    </isNotNull>	  
	  </dynamic>
	</select>
	
	<select id="selectEdit" resultClass="edit" parameterClass="java.util.HashMap">
		SELECT RM,NO,TITLE,WRITER,REGDATE,REF,LEV,STEP,
		HIT,FILENAME,REPLY
		FROM(
		SELECT ROW_NUMBER( ) OVER(ORDER BY NO
		DESC)RM,NO,TITLE,WRITER,TO_CHAR(REGDATE,'YYYY/MM/DD')REGDATE,
		HIT,FILENAME,REF,STEP,LEV,PNUM,REPLY
		FROM EDITAPP
		<dynamic prepend="where">
			<isNotNull property="query">
				$query$ LIKE '%'||#data#||'%'
			</isNotNull>
		</dynamic> 
		)
		WHERE RM BETWEEN #start# AND #end#
		ORDER BY REF DESC ,STEP,LEV
		
	</select>
	<update id="updateStep" parameterClass="edit">
	  UPDATE EDITAPP SET
	  STEP=STEP+1
	  where ref=#ref# AND STEP>#step#
	</update>
	<update id="updateHit" parameterClass="java.lang.Integer">
		UPDATE EDITAPP SET HIT=HIT+1 WHERE NO=#VALUE#
	</update>
	<statement id="selectInfo" parameterClass="java.lang.Integer"
		resultClass="edit">
		SELECT NO,ID,WRITER,TITLE,HIT,CONTENTS,
		TO_CHAR(REGDATE,'YYYY/MM/DD')REGDATE,FILENAME,REF,PNUM,STEP,LEV,REPLY
		FROM EDITAPP
		WHERE NO=#VALUE#
	</statement>
	<update id="updateReply" parameterClass="edit">
	  UPDATE EDITAPP 
	  <dynamic prepend="set">	  
	     <isEqual property="job" compareValue="delete">
	       REPLY=REPLY-1
	     </isEqual>
	     <isEqual property="job" compareValue="reply">
	       REPLY=REPLY+1
	     </isEqual>
	    
	  </dynamic>
	  WHERE NO=#pnum#
	</update>
	
</sqlMap>









